form#findcontact .form-group {
    margin: 0;
}
form#findcontact .form-group input {
    font-size: 1.75rem; height: 3.5rem;
    margin: 1.92rem 0;
}
form#findcontact input.form-control:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}